.project-page {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

.project-head {
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  padding: 16px;
}

.project-body{
  margin-top:40px;
  display: flex;
  flex-direction: row;
  width:1200px;
  justify-content: center;
}

.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  width:350px;
  height:200px;
  padding:20px;
  border-radius: 20px;
  border:none;
  box-shadow: 5px 5px 20px gray;
}

.logo-name {
  font-size: 40px;
  font-weight: 700;
  color: rgb(226, 57, 57);
  background: linear-gradient(45deg, #ff0000, #ff9900, #ffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: saturateAnimation 5s linear infinite alternate;
}

@keyframes saturateAnimation {
  0% {
    filter: saturate(0%);
  }
  100% {
    filter: saturate(200%);
  }
}


/* 
QUOTES */

.quote-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  height: fit-content;
  margin: 60px auto;
}
.quote-head {
  font-size: 24px;
  font-weight: 700;
  padding: 16px;
  text-align: center;
}

.quote-body {
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  font-family: "Cedarville Cursive", cursive;
  text-align: center;
}

.quote-hidden {
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  font-family: "Cedarville Cursive", cursive;
  text-align: center;
  color: #a7a7a7;
  text-align: center;
  animation: slideshow 12s infinite alternate;
}

@media screen and (max-width: 1200px) {
  .quote-page {
    margin: 20px auto;
    margin-top: 0px;
    max-width: 400px;
    padding: 16px;
  }
}



/* 
poetry */

.poetry-page {
  width: 1000px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.poetry-head {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  padding: 16px;
}

.poetry-body {
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  font-family: "Cedarville Cursive", cursive;
  text-align: center;
}

.poetry {
  display: inline-block;
  margin-bottom: 16px;
  color: #a7a7a7;
}

@media screen and (max-width: 600px) {
  .poetry-page {
    width: 300px;
    text-align: center;
  }
}


