.contact-page{
  margin-top:80px;
  display:flex;
  flex-direction: column;
  align-items: center;
  color:white;
  background-color: rgb(190, 234, 255);
  width:100%;


}

.contact-name{
  font-size:26px;
  margin-top:100px;


}


.contact-title{
  font-size:60px;
  font-weight: bold;
  letter-spacing: 16px;
  text-align: center;
}

@media screen and (max-width:600px) {
  .contact-title{
    font-size:38px;
    letter-spacing: 8px;
  }
  
}


.double-box{
  display:flex;
  flex-direction:row;
  width:80%;

  margin:40px auto;
  gap:4em;
}

.lets-talk{
  flex:1;
}

.contact-details{
  
  flex:1;
}

@media screen and (max-width:600px) {
  .double-box{
    flex-direction: column;
  }
}


.lets-talk, .contact-details{
  display:flex;
  flex-direction:column;
  align-items: center;

}

.inquiry, .details{
  font-size:24px;
  font-weight: bold;
  margin:12px;


}


input[type="text"], input[type="email"], input[type="number"] {
  width:96%;
  padding:8px;
  height:36px;
  margin-top:24px;
  border:none;
  border-radius: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow:0 0 10px white;
  outline:none;

}

textarea{
  height:200px;
  width:96%;
  margin-top:24px;
  padding:8px;
  border-radius: 8px;
  border:none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  box-shadow:0 0 10px white;
  outline:none;
}

.buttons{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
}

.submit-button{
  padding:16px 32px;
  font-size:16px;
  margin-top:16px;
  margin-bottom:20px;
  border:none;
  border-radius:8px;
  background-color: white;
  cursor:pointer;
  font-weight: bold;
  color:rgb(144, 220, 255);
  transition:color 0.15s;
  transition:background-color 0.15s;
  box-shadow:0 0 10px white;
}

.submit-button:hover{
  background-color: rgb(190, 234, 255);
  color:white;
}

.reset-button{
  padding:16px 32px;
  font-size:16px;
  margin-top:16px;
  margin-bottom:20px;
  border:none;
  border-radius:8px;
  background-color: white;
  cursor:pointer;
  font-weight: bold;
  color:rgb(144, 220, 255);
  transition:color 0.15s;
  transition:background-color 0.15s;
  box-shadow:0 0 10px white;
}

.reset-button:hover{
  background-color: rgb(190, 234, 255);
  color:white;
}

::placeholder{
  color:#999;
}



.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
