/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: rgb(255, 208, 0);
  background-color: #121212;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.15s;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(204, 204, 204);
}

/* Header CSS */
.header {
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0));
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  top: 0;
}

.header1 {
  color: rgb(255, 208, 0);
  display: flex;
  justify-content: center;
  margin-right: 20%;
  width: fit;
  font-weight: 800;
  font-size: 30px;
  margin-left: 1em;
}

.header2 {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header2 div {
  margin: 1em;
  cursor: pointer;
  font-weight: 800;
}

.header2 div:hover {
  color: rgb(255, 208, 0);
}

@media screen and (max-width: 600px) {
  .header2 {
    display: none;
  }

  .header {
    display: flex;
    flex: 1 0.5;
    justify-content: space-between;
    padding: 16px;
  }
}

/* Sidebar CSS */
.sidebar {
  background: linear-gradient(to top, rgb(22, 22, 22), rgb(44, 44, 44));
  position: fixed;
  top: 0;
  right: -650px;
  width: 100%;
  transition: right 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 80px;
  padding: 16px;
  align-items: center;
  font-size: 12px;
  z-index: 100;
}

.sidebar div {
  font-weight: bold;
}

.sidebar div:hover {
  color: rgb(255, 208, 0);
}

.sidebar-toggle-checkbox {
  display: none;
}

.sidebar-toggle-checkbox:checked ~ .sidebar {
  right: 0;
}

.sidebar-toggle-label2 {
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  right: 16px;
  top: 42px;
  color: rgb(255, 208, 0);
}

.sidebar-toggle-label2:hover {
  color: rgb(255, 208, 0);
}

@media screen and (min-width: 600px) {
  .sidebar {
    display: none;
  }

  .sidebar-toggle-label2 {
    display: none;
  }
}

/* Footer CSS */
.footer {
  background: linear-gradient(to top, rgb(0, 0, 0), rgbrgb(0, 0, 0));
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 4em;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: none;
    align-items: start;
  }
}

.goodbye {
  font-size: 14px;
}

.footer-slogan {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  margin-left: -8px;
}

.go-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa.fa-angle-double-up {
  cursor: pointer;
  font-size:30px;
  align-self: center;
  margin:auto;
}

.go-up:hover {
  opacity: 0.75;
}




@media screen and (min-width: 600px) {
  .footer {
    gap: 6em;
  }
  .footer-container {
    gap: 6em;
  }

  .goodbye {
    font-size: 18px;
    font-weight: 600;
  }

  .footer-slogan {
    font-size: 18px;
    font-weight: 600;
  }
}

/* 
homepage */

.cse {
  color: #a7a7a7;
}

.campus {
  color: #a7a7a7;
}

.home-page {
  width: 100%;
  margin-top: 80px;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-container {
  width: 100%;
  height: 600px;
}

.intro {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.row1 {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.humandada {
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 1000px;
}

.row2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
}

.i-hi {
  font-size: 24px;
}

.i-name {
  font-size: 40px;
  font-weight: 800;

  color: white;
}

.i-slogan {
  font-size: 20px;
  margin-bottom: 40px;
  color: #a7a7a7;
}

.icons {
  display: flex;
  flex-direction: row;
}

.fb,
.git,
.ig,
.discord {
  width: 30px;
  height: 30px;
  border-radius: 80px;
  padding: 16px;
}

.icons img:hover {
  opacity: 0.75;
}

.fa.fa-facebook, .fa.fa-instagram, .fa.fa-github{
  padding:8px;
  font-size:24px;
  
}

@media screen and (max-width: 1200px) {
  .intro {
    flex-direction: column;
    height: fit;
    width: 100%;
  }

  .row1 {
    flex: 0.25;
  }



  .i-hi {
    margin-top: 0px;
    font-size: 20px;
  }

  .i-name {
    font-size: 22px;
    font-weight: bold;
  }

  .i-slogan {
    font-size: 14px;
  }

  .row2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cse {
    font-size: 22px;
  }

  .campus {
    font-size: 14px;
  }

  .humandada {
    width: 300px;
    height: 280px;
    object-fit: cover;
    width: 80%;
    margin-top: 40px;
    border-radius: 400px;
  }
}
