.project-page {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto 100px;
  
}

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}


.project-head {
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  padding:16px;
}

.project-body {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 8px;
}

.project-box {
  width: 80px;
  height: 100px;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 800;
  font-size: 24px;
}

#one {
  animation: chamelion 1s 0.2s infinite alternate;
}
#two {
  animation: chamelion 1s 0.4s infinite alternate;
}
#three {
  animation: chamelion 1s 0.6s infinite alternate;
}
#four {
  animation: chamelion 1s 0.8s infinite alternate;
}
#five {
  animation: chamelion 1s 1s infinite alternate;
}
#six {
  animation: chamelion 1s 1.2s infinite alternate;
}
#seven {
  animation: chamelion 1s 1.4s infinite alternate;
}

@keyframes chamelion {
  0% {
    background-color: #242424;
    color: rgb(255, 208, 0);
  }
  100% {
    background-color: #121212;
    color: #ffffff;
  }
}

.project-note {
  text-align: center;
  padding: 16px;
  letter-spacing: 12px;
  color: #a7a7a7;
}
/* 
poetry */
 

.poetry-page{
  width:1000px;
  height:fit-content;

  display: flex;
  flex-direction: column;
  margin-bottom:50px;
  }

.poetry-head{
  text-align: center;
  font-weight:700;
  font-size:24px;
  padding:16px;
}

.poetry-body{
  font-style: italic;
  font-size:20px;
  font-weight:400;
  font-family: "Cedarville Cursive", cursive;
  text-align: center;
}

.poetry{
  display: inline-block;
  margin-bottom:16px;
  color:#a7a7a7;
}


@media screen and (max-width:600px) {
  .poetry-page{
    width:300px;
    text-align: center;
  }
}

/*arduinocss */
.project2 {
  margin-top: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #a7a7a7;
}

.pcontainer {
  width: 1200px;
  padding: 20px;
}

.ptitle {
  font-size: 24px;
  font-weight: 800;
  color: rgb(255, 208, 0);
}

h3 {
  color: white;
}

video {
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .project2 {
    margin-top: 112px;
  }
  .pcontainer {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .project2 {
    margin-top: 112px;
  }
  .pcontainer {
    width: 300px;
  }

  .video-div {
    width: 300px;
  }

  .video {
    width: 300px;
  }

  .video-div h3 {
    margin-bottom: 20px;
  }
}

pre {
  background-color: black;
  color: white;
  overflow: auto;
  padding: 10px;
  border-radius: 16px;
}
