.project-page {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  padding-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .project-page {
    width: 600px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .project-page {
    margin-top: 0px;
    width: 300px;
  }
}

.project-title {
  font-weight: 700;
  font-size: 24px;
  padding: 16px;
  margin-bottom: 14px;
}

.project-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-box {
  width: 300px;
  border-radius: 8px;
  padding: 8px;
  height: 400px;
  background-color: #242424;
}

.project-image {
  display: flex;
  align-items: center;
  padding: 10px;
}

.project-text {
  display: flex;
  flex-direction: column;
}

.project-name {
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.project-details {
  color: #a7a7a7;
  padding: 10px;
  font-weight:400;
}

.project-demo{
  object-fit: cover;
  width: 280px;
  height:200px;
  border-radius: 4px;
}

.project-box:hover {
  opacity: 0.75;
  cursor: pointer;
}

pre {
  background-color: black;
  color: white;
  overflow: auto;
  padding: 10px;
  border-radius: 16px;
}



@media screen and (max-width:600px) {
  .project-container{
    flex-direction: column;
  }
}

/* 
quotes */


.quote-page {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.quote-heading {
  font-size: 24px;
  font-weight: 700;
  padding: 16px;
  margin-bottom: 50px;
}

.quote-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: center;
}

.quote-box {
  background-color: #242424;
  width: 500px;
  height: 100px;
  padding: 16px;
  border-radius: 16px;
  overflow: auto;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a7a7a7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Optional: Add smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}


.quote {
  color: white;
  font-weight: 500;

}

@media screen and (max-width: 600px) {
  .quote-page {
    width: 300px;
    margin-bottom: 20px;
  }

  .quote-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
  }

  .quote-heading {
    margin-bottom: 24px;
  }

  .quote-box {
    width: 300px;
  }
}

/* 
arduinocss */

.project2 {
  margin-top: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color:#a7a7a7;
}

.pcontainer {
  width: 1200px;
  padding: 20px;
}

.ptitle {
  font-size: 24px;
  font-weight: 800;
  color: rgb(255, 208, 0);
}

h3{
  color:white;
}


video {
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .project2 {
    margin-top: 112px;
  }
  .pcontainer {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .project2 {
    margin-top: 112px;
  }
  .pcontainer {
    width: 300px;
  }

  .video-div {
    width: 300px;
  }

  .video {
    width: 300px;
  }

  .video-div h3 {
    margin-bottom: 20px;
  }
}
