.project-page{
  width:1200px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:100px;
  padding-bottom:50px;

}

@media screen and (max-width:1200px) {
  .project-page {
  width:300px;
  }
}

.project-title{
  font-weight:700;
  font-size:24px;
  padding:16px;
  margin-bottom:14px;
}

.project-container{
display:flex;
flex-direction: row;
gap:50px;
justify-content: space-around;
flex-wrap: wrap;



}

.project-box{
  width:300px;
  border-radius: 8px;
  padding:8px;
  height:400px;
   box-shadow:5px 5px 10px rgb(196, 196, 196);


}

.tower{
  border-radius: 400px;
}

.project-details{
  display: flex;
  flex-wrap: wrap;

}


.quote-page{
  width:1200px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom :100px

}



.quote-heading{
  font-size: 24px;
  font-weight: 600;
  margin-bottom:30px;

}

.quote-container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  gap:4em;
  justify-content: center;
}


.quote-box{
  width:500px;
  height:100px;
  box-shadow:5px 5px 10px rgb(196, 196, 196);
  padding:16px;
  border-radius: 16px;
}

.quote{
  font-weight:500;
}


@media screen and (max-width:600px)  {
  .quote-page{
    width:300px;
  }

  .quote-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .quote-box{
    width:300px;
  }
}
